$color-grey-200: #7f818f;
$color-red-100: #d7233f;
$color-black: #000;

$danger-color: $color-red-100;
$text-color-secondary: $color-grey-200;

$border-color: $color-black;
$border-width: 1px;
$border-style: solid;

$base-border: $border-width $border-style $border-color;
